@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.iti {
  @apply shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 focus:border block w-full p-2.5 outline-0;
}

.iti__tel-input {
  @apply outline-0;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-green-500);
  --color-primary-800: var(--color-green-800);
  --color-secondary: var(--color-green-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

a.link {
  @apply text-green-800 underline font-semibold
}